<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

    <% include ../helpers/navbar %>

    <h1>About me</h1>
  </div>

  <p id="demo">
    Click on the button for a surprise
  </p>

  <button type="button" class="btn" onclick="myFunction()">
    Try it
  </button>

  <div id="doge-image"/>

</body>

</html>